

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex; /* 1. Enable Flexbox */
  flex-direction: column; /* 2. Make content stack vertically */
  justify-content: flex-end; /* 3. Align content to the bottom of the flex container */
}

div.container {
  background-color: rgba(105, 105, 105, 0.9);
  border-radius: 20px;
  padding: 10px;
}

input {
  border: 0px solid;
  background-color: transparent;
  font-size: 16pt;
  color: white;
  width: 100%;
}

p {
  font-size: 13pt;
  color: white;
  width: 100%;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  display: none;
}

.send-btn {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,#06b6d4,#7c3aed);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.send-btn:hover {
  transform: translateY(-1px);
}

.cancel-btn {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,#d40614,#f14968);
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.cancel-btn:hover {
  transform: translateY(-1px);
}




.dots-overlay {
  position: absolute;
  inset: 0; /* fill the input container */
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.dots-overlay .dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: white;
  border-radius: 50%;
  opacity: 0.95;
  transform: translateY(0);
  animation: bounce 1.2s ease-in-out infinite;
}

.dots-overlay .dot:nth-child(1) {
  animation-delay: 0s;
}


.dots-overlay .dot:nth-child(2) {
  animation-delay: 0.12s;
}
.dots-overlay .dot:nth-child(3) {
  animation-delay: 0.24s;
}



@keyframes bounce {
  0%, 100% { transform: translateY(0); opacity: 0.9 }
  50% { transform: translateY(-6px); opacity: 1 }
}



@keyframes fadeInContainer {
  from {
    opacity: 0;
    transform: translateY(12px); /* optional slide-up effect */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message-container {
  opacity: 0;
  background-color: rgba(83, 78, 78, 0.9);
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  animation: fadeInContainer 0.5s ease-out forwards;
}



@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}

.message-container.removing {
  animation: fadeOut 0.5s ease-in forwards;
}